* {
  box-sizing: border-box;
}
body {
  background-color: #E8E8E8;

}

div {
  border-radius: 1%;
}

.container {
  width:50%;
  margin: auto;
  margin-top: 2.5%;
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-size: 150%;
  color: #A1A0A0;
}

.block {
  text-align: center;
  padding: 2.5%;
  margin-bottom: 5%;
  background-color: white;
  box-shadow: 1px 1px 2px 2px #BDBAAB;
}

.pres p {
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}

.image img {
  border-radius: 100%;
  border: 5px solid #E8E8E8;
}

.mr h1 {
  color: #D43B3F;
}

.mr h2 {
  color: #7A7A7A;
}

.link{
  padding: 2.5%;
}

.link a {
  background-color:#D43B3F;
  padding: 20px;
  border-radius: 5%;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 100%;
  letter-spacing: 1px;
}



.social li{
  display: inline-block;
  margin: 5%;
}

.social a{
  text-decoration: none;
  color: #CAC8C9;
  font-weight: bolder;
}

.social span{
  font-size: 200%;
  color: #A1A0A0;
}

.social ul{
  padding-left: 0;
}

.title {
  color : #7A7A7A;
  text-align: center;
  padding-bottom: 5%;
}

.film {
  display: flex;
  padding-top: 2.5%;
  padding-bottom: 10%;
}

.desc {
  margin-left: 5%;
}

.his{
  background-color: #CFCDCD;
}

.desc h4{
  text-align: center;
  margin-top: 0;
  color: #7A7A7A;
}

.desc p{
  text-align: justify;
  line-height: 250%;
}
