.titreprincipal {
background-image:url(backgroundpoor.png);
color: white;
text-align: center;
width: 100%;
height: 75px;
line-height: 75px;
margin-top: auto;
}

body {
  background-color:rgb(245,147,111);
}

.firstpart {
  font-family: cursive ;
}

.citation {
  text-align: center;
}

.video {
  display: table;
  margin-left: 350px;
  margin-right: 50px;
}

.secondpart {
  display: table-cell;
  width :550px;
  padding: 50px 0 50px 15px;
  vertical-align: middle;
}

.secondtitle {
  text-align: center;
  font-size: 30px;
}

.img-circle img {
  margin: 50px 100px 50px 100px;
  border-radius: 50%;
  float: left;
  height: 100px;
  width: 200px;
}

.img-circle {
  width: 25%;
}

.list {
  display: inline-block;
  width: 1900px;
  list-style: none;
  padding-left: 0;
  margin-left: 50px;
  margin : auto;
}

.list li {
  float: left;

}

.logo {
  padding-left: 100px;
}

.list li p {
  width: 200px;
  text-align: justify;
  margin: auto;

}
