.titreprincipal {
background-image:url(backgroundpoor.png);
color: white;
text-align: center;
width: 100%;
height: 75px;
line-height: 75px;
margin-top: auto;
font-family: 'Ubuntu', sans-serif ;
font-size: 150%;
margin-bottom: 1%;
}

body {
  background-color:#F5B387;
  margin-left: 2%;
  margin-right: 2%;
}

.firstpart {
  font-family: 'Ubuntu', sans-serif ;
}

.citation {
  text-align: center;
}

.border {
  background-color: #DE8662;
  border-radius: 10%;
  padding: 1%;
  margin-bottom: 1%;
}

.video {
  display: table;
  margin-left: 350px;
  margin-right: 50px;
  font-family: 'Ubuntu' , sans-serif;
  font-size: 125%;
}

.secondpart {
  display: table-cell;
  width :550px;
  padding: 50px 0 50px 15px;
  vertical-align: middle;
}

.secondtitle {
  text-align: center;
  font-size: 175%;
}

.logo img{
  margin: 50px 100px 50px 100px;
  border-radius: 30%;
  float: left;
  height: 100px;
  width: 210px;
}

.img-circle {
  width: 25%;
}

.list {
  display: inline-flex;
  font-family: 'Ubuntu' , sans-serif;
  font-size: 105%;
}

.logo {
  padding: 1%;
}

.logo p {
  padding: 20%;
  text-align: justify;
  background-color: #DE8662;
  border-radius: 20%;
  height: 60%;
}

.don {
  text-align: center;
}

.don a{
  text-align: center;
  text-decoration: none;
  padding: 2%;
  background-color: red;
  margin-left: 40%;
  margin-right: 40%;
  color: white;
  font-size: 150%;
  font-weight: bold;
  border-radius: 25%;
  box-shadow: 5px 5px black;
  transition: 0.5s;
}

.don a:hover{
  background-color: #F5574D;
  color: yellow;
  font-size: 200%;
}


footer {
  border-top: 5px solid #D15700;
}

footer .contact {
  float: left;
  margin: 0;
}
