body {
  margin-left: 10%;
  margin-right: 10%;
  margin-top:5%;
  text-align: center;
  padding-bottom: 20px;
}

.button {
  padding: 6px;
  background: red;
  font-family: fantasy;
  color: white;
  font-size: 30px;
  border-radius: 50px;
  margin-right: 45%;
  margin-left: 45%;
}

.button:hover {
  background-color: #F55872;
  box-shadow: 0 2px #666;
}

.button:active {
  background-color: #F55872;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.text {
  font-size: 35px;
  background-image: url(laptop-157424_960_720.png);
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 80px;
  text-transform: uppercase;
  font-family : Arial;
  position: relative;
}

.img .text {
 margin: auto;
 height: 720px;
 width: 900px;
}
